/* add CSS class and element and selectors here */
body {
      background-color: lightpink;
      font-size: 150%;
    }
    
.myClass{
  background-color: lightblue;
  color:gray;
}

 .anExampleClass {
      font-size: 300%;
      background-color: lightblue;
      font-family: calibri;
      border: 1px dotted purple;
      text-transform: uppercase;
      letter-spacing: 5px;
      transition: rotate(-30)deg;
    }
 
 .borderClass{
   color: gray;
    font-family: Verdana;
    border:4px dotted purple;
 }   
 

   